<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome, <%= user.name %></h1>

    <p>your trips</p>
    <% for(let i=0;i<trip.length;i++){ %>
      <p><%= trip[i].title %></p>
      <p><%= trip[i].description %></p>
      <% for(let i=0;i < flight.length;i++){ %>
       <p><%= flight[i].destination %></p>
      <% } %>
      <% } %>

<h4>Add a new trip</h4>
    <form action="/trips/create" method="post">
      <input type="text" name="title" placeholder="Where To?">
      <input type="text" name="description" placeholder="About Trip">
      <select name="flight_id">
               <option value="default">Select Existing Flight</option>
                 <% for(let i=0;i < flight.length;i++){ %>
               <option value="<%= flight[i].id %>"><%= flight[i].destination %></option>
               <% } %>
      </select>
      <button type="submit">Add Trip!</button>

    </form>
  </body>
</html>
